body,html {
    background-image: url('http://www.ecopetit.cat/iconpics/f/1/14365/wallpapers-full-hd-abstract-black.jpg');
    height: 100%;
}

#profile-img {
    height:180px;
}
.h-80 {
    height: 80% !important;
}